  <div *ngIf="content === 'Forbidden'"><h2 class="text-center py-2 alert alert-danger">Acesso proibido!</h2></div>
<div *ngIf="content !== 'Forbidden'" class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <h5 class="text-center">Resetar senha</h5>
        <label for="username">Usuário</label>
        <input
          type="hidden"
          class="form-control"
          name="id"
          [(ngModel)]="form.id"
          #id="ngModel"
        />
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          readonly
          minlength="3"
          maxlength="20"
          #username="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Usuário é obrigatório!</div>
          <div *ngIf="username.errors.minlength">
            Usuário precisa ter mais que 3 caracteres
          </div>
          <div *ngIf="username.errors.maxlength">
            Usuário precisa ter menos que 20 caracteres
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          readonly
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Email é obrigatório</div>
          <div *ngIf="email.errors.email">
            Email não é um email válido
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="nivel">Nível</label>
        {{form.roles[0].name}}
        <div class="alert-danger" *ngIf="f.submitted && nivel.invalid">
          <div *ngIf="nivel.errors.required">Nível é obrigatório</div>
          <div *ngIf="nivel.errors.minlength">
            Senha precisa de 6 ou mais caracteres
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Enviar link por email</button>
      </div>
      <div class="form-group">
        <a class="btn btn-secondary btn-block" routerLink="/user">Cancelar</a>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Falha no envio!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Link para resete foi enviado com sucesso!
    </div>
  </div>
</div>
