  <div class="container">
   
    <div class="form-group jumbotron">
      <h2 class="text-center">Usuários</h2>
      <a *ngIf="content !== 'Forbidden'" class="btn btn-primary" routerLink="/cadastrar_usuario">Novo</a>
      </div>

    <table 
      class="table table-bordered table-striped"
      >
      <thead>
        <tr>
          <th>Login</th>
          <th>Email</th>
          <th>Nível</th>
          <th *ngIf="content !== 'Forbidden'">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resultObj of usuarios">
          <td>
          {{ resultObj.username }}
          </td>
          <td>
            {{ resultObj.email }}
          </td>
          <td>
            {{ resultObj.roles[0].name }}
          </td>
          <td *ngIf="content !== 'Forbidden'" class="">
            <a href="/editar_usuario/{{resultObj.id}}" class="btn btn-warning btn-sm">Editar</a> &nbsp;
            <a href="/resete_senha/{{resultObj.id}}" class="btn btn-info btn-sm">Resetar senha</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

